@import url('https://fonts.googleapis.com/css2?family=Mulish&family=Poppins:wght@100&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Mulish', sans-serif;
  /* font-family: 'Poppins', sans-serif; */
}